<nav class="navbar navbar-expand-lg navbar-light bg-light shadow mb-5 bg-body rounded">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img src="https://proppg.unilab.edu.br/forms/paineis/chpunilab/assets/logoUnilab.png" alt="" width="35" height="30" class="d-inline-block align-text-top">
      Carga horária de pesquisa
    </a>
  </div>
</nav>
<div class="mt-5">
<main class="form-signin text-center">
  <form novalidade [formGroup]="formulario" (ngSubmit)="confirmarCadastro()">
    
    <h1 class="h3 mb-3 fw-normal">Entrar</h1>
    <div class="form-floating">
      <input 
      type="text" 
      class="form-control" 
      id="floatingInput" 
      placeholder="Exemplo: ics"
      formControlName="Usuario"
      name="Usuario"
      >
      <small *ngIf="!formulario.get('Usuario').valid && formulario.get('Usuario').touched" class="form-text text-danger">Campo obrigatório</small>
      <label for="floatingInput">Usuário</label>
      <div class="form-floating">
        <input 
        type="password" 
        class="form-control" 
        id="floatingPassword" 
        placeholder="Password"
        formControlName="Senha"
        name="Senha"
        >
        <small *ngIf="!formulario.get('Senha').valid && formulario.get('Senha').touched" class="form-text text-danger">Campo obrigatório</small>
        <label for="floatingPassword">Senha</label>
        <div class="alert alert-danger" role="alert" *ngIf="alertaDadosIncorretos">
          Desculpe, dados incorretos.
        </div>
        <button class="w-100 btn btn-success btn-sm" type="submit">Entrar</button>
        <p *ngIf="isAutenticado" class="mt-5 mb-3 text-muted">© 2017–2021</p>
      </div>
    </div>
  </form>
</main>
</div>

