<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">CHD</a>
    <div class="navbar">
      {{usuario}}
      <div class="d-flex">
        <div class="btn-group dropstart">
          <img src="../../../assets/user.png" alt="imagem do usuario" width="40" height="40" id="userimg"data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="10,20">
  
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
            <li><a class="dropdown-item" (click)="sair()">Sair</a></li>
          </ul>
        </div>
      </div>
    </div>
    
  </div>
</nav>

<div class="container">
  <div class="row">

  </div>
  <div class="row justify-content-md-center">
    <div class="card text-center m-2" style="width: 20rem;" *ngFor="let i of dadosPuro">
      <div class="card-body">
        <h5 class="card-title">{{i.docente}}</h5>
        <div class="row">
          <p class="card-text">Projeto: {{i.projeto}}</p>
        </div>
        <div class="row">
          <p class="card-text">Função: {{i.funcao}}</p>
        </div>
      </div>
      <a href="#" class="btn btn-primary mb-2">Mais</a>
    </div>
  </div>
</div>