<nav class="navbar navbar-expand-lg navbar-light bg-light shadow p-3 mb-5 bg-body rounded">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img src="http://proppg.unilab.edu.br/forms/paineis/chpunilab/assets/logoUnilab.png" alt="" width="35" height="30" class="d-inline-block align-text-top">
      Carga horária de pesquisa
    </a>
    <div class="row">
      <div class="col">
        <div class="navbar">
          <div class="dropdown show" id="dopd">
            <ul class="navbar-nav me-auto ">
              <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle"id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{usuario}}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="width: 10px;">
                  <li ><a class="dropdown-item" (click)="sair()">Sair</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div>
          <img src="http://proppg.unilab.edu.br/forms/paineis/chpunilab/assets/user.png" alt="imagem do usuario" width="40" height="40" id="userimg"data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="10,20">
        </div>
      </div>
    </div>

  </div>
</nav>

<div class="container mt-4" *ngIf="dadosOrganizados.length > 0; else semdados">

  <div class="row justify-content-md-center">
    <div class="card text-center m-2" style="width: 20rem;" *ngFor="let i of dadosOrganizados">
      <h5 class="card-title mt-2">{{instituto}}</h5>
      <hr>
      <div class="card-body">
        <div class="row">
          <h5 class="card-title">{{i.docente}}</h5>
        </div>
        <h6 class="card-subtitle mb-2 text-muted">
          <p class="card-text">HORAS ACUMULADAS</p>
          <p class="card-text">{{getHoras(i.docente)}} Horas</p>
        </h6>
      </div>
      <button (click)="detalhes(i.docente)" class="btn btn-sm btn-success mb-2">Detalhes</button>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col">
      <div class="d-grid gap-2 col-6 mx-auto">
        <button type="button" class="btn btn-sm btn-warning mb-2" disabled="true" [disabled]="dadosPuros == undefined" (click)="gerarCSV()">Gerar CSV</button>
      </div>
    </div>
  </div>
</div>
<ng-template #semdados>
  <div class="alert alert-light mt-5" role="alert" id="alertaDados">
    <div class="row marcador align-items-center">
      <div class="col mx-auto text-center">
        <img src="http://proppg.unilab.edu.br/forms/paineis/chpunilab/assets/carregando.gif" width="40" height="40">
        <p>Aguarde um momento. Estamos realizando a busca dos dados.</p>
      </div>
    </div>
  </div>
</ng-template>